
.body{
    margin:0
}
.body h2{
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.childTwo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}
.done {
  text-decoration: line-through;
  color: #888;
  opacity: 0.6;
}
.pending {
  color: #000;
  font-weight: 500;
}
.activeView {
  background: #fff3e0; /* light orange */
}
.completedView {
  background: #e8f5e9; /* light green */
}

.childOne {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  align-items: center;
}
.counts{
  display: flex;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: space-around;
}

.checkedChild2{

  align-items: center;
  border: 1px solid #ddd;
  background-color: #ccc;
  text-decoration: line-through;
  color: #888;
}

.filter.all{
  background: #2196f3;
}

.active{
  background:  #ff9800;
}

.completed{
  background: #e63d53;
}

.unCheckedChild2 {
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}
button {
  padding: 6px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.emptyMessage{
  font-size: medium;
}